@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

.wrapper {
  display:flex;
  justify-content:center;
  align-items: center;
  height:100vh;
  width:100%;
  background:url('../images/banner.jpg') no-repeat;
  background-size:cover;
  background-position:center;
  background-color: #66fcf1;
  animation:animateBg 4s linear infinite;
}
@keyframes animateBg {
  100% {
    filter:hue-rotate(360deg);
  }
}

.images {
    /* margin-left: auto; */
   width: 300px;
    /* border-radius: 100%; */
}   
.images img {
    border-radius: 50% ;
    width: 420px;
    height: 300px;
    animation: fadein 2s;
    /* box-shadow: 0 0 10px #D1D9E6; */
}


  .big-circle {
    height: 120%;
    width: 120%;
    position: relative;
    border: 3px solid #bbbbbb;
    border-radius: 50%;
    margin: auto;
    margin-left: 25rem;
    /* display: flex; */
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    animation: Rotate 20s linear infinite;
    -webkit-animation: Rotate 20s linear infinite;
  }
  .icon-block {
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    background:transparent;
    box-shadow: 0 0 10px #fff;
  }
  .icon-block a {
    display: inline-block; 
    margin: 0;          
    padding: 0;           
    text-decoration: none; 
  }
  
  .icon-block img {
    margin: 0px auto;
    width: 60%;
    animation: Rotate-reverse 20s linear infinite;
    -webkit-animation: Rotate-reverse 20s linear infinite;
  }
  .icon-block:first-child {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .icon-block:nth-child(2) {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
  }
  .icon-block:nth-child(3) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
  }
  .icon-block:nth-child(4) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .rounding-sec {
   
    position: relative;
    height: 300px;
    width: 300px;
    margin-top: -50px;
  }
  .images {
    position: absolute;
    top: 60%;
    left: 175%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  /* keyframe animation */
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes Rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes Rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes Rotate-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @-webkit-keyframes Rotate-reverse {
    from {
      -webkit-transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
    }
  }

/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
   
}
@media screen and (max-width: 990px) {
    
    .rounding-sec {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
  .rounding-sec {
    display: none;
}
}

@media screen and (max-width:600px) {
    
    .icon-block {
        width: 50px;
        height: 50px;
    }
    .rounding-sec {
        height: 300px;
        width: 300px;
    }
    .images {
        width: 300px;
    }
}